build*/*
external/assimp/ALL_BUILD.vcxproj
external/assimp/ALL_BUILD.vcxproj.filters
external/assimp/Assimp.sln
external/assimp/CMakeCache.txt
external/assimp/CMakeFiles/
external/assimp/INSTALL.vcxproj
external/assimp/INSTALL.vcxproj.filters
external/assimp/UpdateAssimpLibsDebugSymbolsAndDLLs.vcxproj
external/assimp/UpdateAssimpLibsDebugSymbolsAndDLLs.vcxproj.filters
external/assimp/ZERO_CHECK.vcxproj
external/assimp/ZERO_CHECK.vcxproj.filters
external/assimp/assimp-config-version.cmake
external/assimp/assimp-config.cmake
external/assimp/assimp.pc
external/assimp/assimpTargets-debug.cmake
external/assimp/assimpTargets-release.cmake
external/assimp/assimpTargets.cmake
external/assimp/bin/
external/assimp/cmake_install.cmake
external/assimp/cmake_uninstall.cmake
external/assimp/code/CMakeFiles/
external/assimp/code/INSTALL.vcxproj
external/assimp/code/INSTALL.vcxproj.filters
external/assimp/code/assimp.dir/
external/assimp/code/assimp.vcxproj
external/assimp/code/assimp.vcxproj.filters
external/assimp/code/cmake_install.cmake
external/assimp/contrib/CMakeFiles/
external/assimp/contrib/INSTALL.vcxproj
external/assimp/contrib/INSTALL.vcxproj.filters
external/assimp/contrib/cmake_install.cmake
external/assimp/contrib/irrXML/CMakeFiles/
external/assimp/contrib/irrXML/INSTALL.vcxproj
external/assimp/contrib/irrXML/INSTALL.vcxproj.filters
external/assimp/contrib/irrXML/IrrXML.dir/
external/assimp/contrib/irrXML/IrrXML.vcxproj
external/assimp/contrib/irrXML/IrrXML.vcxproj.filters
external/assimp/contrib/irrXML/cmake_install.cmake
external/assimp/contrib/zlib/ALL_BUILD.vcxproj
external/assimp/contrib/zlib/ALL_BUILD.vcxproj.filters
external/assimp/contrib/zlib/CMakeFiles/
external/assimp/contrib/zlib/CTestTestfile.cmake
external/assimp/contrib/zlib/INSTALL.vcxproj
external/assimp/contrib/zlib/INSTALL.vcxproj.filters
external/assimp/contrib/zlib/cmake_install.cmake
external/assimp/contrib/zlib/zconf.h
external/assimp/contrib/zlib/zlib.dir/
external/assimp/contrib/zlib/zlib.pc
external/assimp/contrib/zlib/zlib.sln
external/assimp/contrib/zlib/zlib.vcxproj
external/assimp/contrib/zlib/zlib.vcxproj.filters
external/assimp/contrib/zlib/zlibstatic.dir/
external/assimp/contrib/zlib/zlibstatic.vcxproj
external/assimp/contrib/zlib/zlibstatic.vcxproj.filters
external/assimp/include/assimp/config.h
external/assimp/lib/
external/assimp/revision.h
external/assimp/test/CMakeFiles/
external/assimp/test/INSTALL.vcxproj
external/assimp/test/INSTALL.vcxproj.filters
external/assimp/test/cmake_install.cmake
external/assimp/test/headercheck/CMakeFiles/
external/assimp/test/headercheck/INSTALL.vcxproj
external/assimp/test/headercheck/INSTALL.vcxproj.filters
external/assimp/test/headercheck/cmake_install.cmake
external/assimp/test/unit.dir/
external/assimp/test/unit.vcxproj
external/assimp/test/unit.vcxproj.filters
external/assimp/tools/assimp_cmd/CMakeFiles/
external/assimp/tools/assimp_cmd/INSTALL.vcxproj
external/assimp/tools/assimp_cmd/INSTALL.vcxproj.filters
external/assimp/tools/assimp_cmd/assimp_cmd.dir/
external/assimp/tools/assimp_cmd/assimp_cmd.vcxproj
external/assimp/tools/assimp_cmd/assimp_cmd.vcxproj.filters
external/assimp/tools/assimp_cmd/cmake_install.cmake
external/assimp/tools/assimp_qt_viewer/ALL_BUILD.vcxproj
external/assimp/tools/assimp_qt_viewer/ALL_BUILD.vcxproj.filters
external/assimp/tools/assimp_qt_viewer/CMakeFiles/
external/assimp/tools/assimp_qt_viewer/INSTALL.vcxproj
external/assimp/tools/assimp_qt_viewer/INSTALL.vcxproj.filters
external/assimp/tools/assimp_qt_viewer/assimp_qt_viewer.sln
external/assimp/tools/assimp_qt_viewer/cmake_install.cmake
external/assimp/uninstall.vcxproj
external/assimp/uninstall.vcxproj.filters
external/assimp/x64/
external/assimp/Assimp.build/
external/assimp/Assimp.xcodeproj/
external/assimp/CMakeScripts/
external/assimp/code/Assimp.build/
external/assimp/code/CMakeScripts/
external/assimp/contrib/irrXML/Assimp.build/
external/assimp/contrib/irrXML/CMakeScripts/
external/assimp/test/Assimp.build/
external/assimp/tools/assimp_cmd/Assimp.build/
external/assimp/tools/assimp_qt_viewer/CMakeScripts/
external/assimp/tools/assimp_qt_viewer/assimp_qt_viewer.xcodeproj/
CMakeCache.txt
CMakeFiles/
CMakeLists.txt.user
Makefile
assimp_external-prefix/
cmake_install.cmake
external/assimp/Assimp.cbp
external/assimp/Makefile
external/assimp/code/Makefile
external/assimp/contrib/Makefile
external/assimp/contrib/irrXML/Makefile
external/assimp/contrib/zlib/Makefile
external/assimp/contrib/zlib/zlib.cbp
external/assimp/test/Makefile
external/assimp/test/headercheck/Makefile
external/assimp/tools/assimp_cmd/Makefile
external/assimp/tools/assimp_qt_viewer/Makefile
external/assimp/tools/assimp_qt_viewer/assimp_qt_viewer.cbp
install

*.swp
*.pdf
*.ppm
*.png